/* 
    Document   : inputCss
    Created on : Jan 10, 2014, 11:43:25 AM
    Author     : wxue
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


label{
    display: inline-block;
    float: left;
    clear: left;
    width: 20%;
    text-align: right;
    margin-right: 0.5em;
}

input{
  display: inline-block;
  float: left;
}

.result
{
  display: inline-block;
  float: left;
}
